{
    "buffer_1": {
        "exec_path": "/home/darwin/build/darwin_buffer",
        "config_file": "/home/darwin/conf/fbuffer/fbuffer.conf.example",
        "log_level": "DEBUG",
        "output": "LOG",
        "next_filter": "",
        "nb_thread": 5,
        "cache_size": 1000,
        "threshold": 80
    }
}
